# MacOS
.DS_Store

# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.pytest_cache/
.coverage
coverage.xml

# IDEs
.vscode/
.idea/

# Flutter / Frontend
flutter/.dart_tool/
flutter/.packages
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/*.iml
